.menu-atas {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 40px;
}

.menu-atas>li {
    list-style: none;
    float: left;
    margin-right: 60px;
    font-size: 28px;
    color: #c48900;
    font-weight: 600;
    font-family: 'Fjalla One';
    text-transform: Uppercase;
}

.bg-image {
    background: url('images/bg_header1.jpg');
    height: 1020px;
    background-size: cover;
    background-position-x: 0;
}

@media(min-width:320px) and (max-width:768px) {
    .bg-image {
        background-position-x: -600px;
    }
}

.featured-notes {
    text-transform: uppercase;
    color: #fff;
    font-size: 42px;
    margin-top: 200px
}

.featured-notes h2 {
    font-size: 70px;
    font-weight: 700;
    width: 550px;
    font-family: Poppins;
}

@media(min-width:320px) and (max-width:768px) {
    .featured-notes h2 {
        width: auto
    }
}

.featured-notes>p {
    font-size: 24px;
    margin-top: 50px;
    font-weight: 600;
    font-family: Poppins;
    margin-bottom: 40px;
}

.btn-primary {
    background: #fff !important;
    color: #222 !important;
    height: 65px;
    border: none !important;
    width: 100%;
}

.react-datetime-picker__wrapper {
    background: #fff;
    border: none !important;
    padding: 0 10px;
    border-radius: 6px;
    width: 100%;
}

.button-red {
    background-color: #F55E43;
    color: #fff;
    margin-top: 20px;
    font-family: 'Fjalla One';
    padding: 20px;
    text-transform: uppercase;
    border-bottom: 4px solid #FF2500;
    font-size: 26px;
    width: 300px;
    border-radius: 4px
}

@media(min-width:320px) and (max-width:768px) {
    .button-red {
        width: auto
    }
}

.section2 {
    margin-top: 100px;
    text-align: center;
}

.section2>h2 {
    font-size: 70px;
    color: #f65e44;
    margin-bottom: 40px;
    font-family: Poppins;
    font-weight: 700;
}

.section2>p {
    font-family: Poppins;
    font-size: 24px;
    font-weight: 600;
    width: 790px;
    margin: 0 auto;
}

@media(max-width:768px) {
    .section2>p {
        width: auto;
    }
}

.marker-list {
    margin-top: 80px;
    padding-bottom: 150px;
    padding-left: 0;
}

.marker-list>li {
    list-style: none;
    float: left
}

.info-marker {
    text-align: center;
    margin-top: 20px;
}

.browse {
    width: 190px
}

.sidehalf {
    margin-top: 80px;
    margin-bottom: 30px;
}

.sidehalf>.col>h2 {
    font-size: 70px;
    font-weight: 700;
    font-family: Poppins;
}

.sidehalf>.col>p {
    color: #453AA7;
    font-size: 32px;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 30px;
}

.info-marker>h5 {
    margin-bottom: 20px;
    color: #140F49;
    font-size: 26px;
    text-transform: Uppercase;
}

.info-marker>p {
    font-family: Poppins;
}

.hallmeow {
    background: url(images/bg_hallofmeows.jpg)no-repeat;
    height: 1020px;
    background-size: cover;
}

.linesofcat {
    width: 660px;
    margin-bottom: 40px;
}

@media(min-width:320px) and (max-width:768px) {
    .linesofcat {
        width: auto;
    }
}

.catlist {
    border: 6px solid #fff
}

.adopting {
    background: url(images/bg_adopting101.jpg);
    height: 1020px;
    background-size: cover;
}

.adopt-side {
    margin-top: 100px;
}

@media(min-width:320px) and (max-width:768px) {
    .adopt-side {
        padding: 0 25px;
    }
}

.adopt-side>h2 {
    font-size: 70px;
    color: #fff;
    margin-bottom: 40px;
    font-weight: 700;
    font-family: Poppins;
}

.adopt-side>p {
    color: #fff;
    font-size: 28px;
    margin-bottom: 40px;
    font-family: Poppins;
}

.letsadopt {
    margin-top: 30px;
    width: 170px
}

@media(min-width:320px) and (max-width:768px) {
    .letsadopt {
        width: 90%;
        margin: 20px auto;
    }
    .adopting {
        height: 1100px;
    }
    .volunteer {
        padding: 0 20px;
    }
}

.adopt-side>ul>li {
    color: #ffb302;
    font-size: 26px;
    font-weight: 600;
    font-family: 'Fjalla One';
}

.subtle {
    color: #fff;
    margin-left: 20px;
    font-family: Poppins;
}

.appointment {
    background: #FF8400;
    padding-top: 100px;
    height: 880px;
    position: relative;
}

.appointment-text>h2 {
    font-size: 70px;
    font-weight: 600;
    color: #fff;
}

@media(min-width:320px) and (max-width:768px) {
    .appointment-text>h2 {
        font-size: 56px;
    }
}

.appointment-text>p {
    color: #E0D6CD;
    font-size: 30px;
}

.bg-place {
    position: absolute;
    bottom: 0;
    right: 200px;
}

@media(min-width:320px) and (max-width:768px) {
    .bg-place {
        right: 0;
    }
    .bg-place>img {
        width: 280px;
    }
}

.appointment>.col>h2 {
    font-size: 70px;
    clear: both
}

.appointment>.col>p {
    font-size: 28px;
}

.extra {
    background: #130E48;
}

.extra>.container>.row {
    border-bottom: 1px solid #392B9E;
    padding-bottom: 100px;
    padding-top: 100px;
}

@media(min-width:320px) and (max-width:768px) {
    .extra>.container>.row {
        padding-top: 20px
    }
}

.extra>.container>.row>div>h2 {
    color: #fff;
    font-size: 70px;
}

.extra>.container>.row>div>p {
    font-size: 30px;
    color: #ffb302
}

.copytext {
    color: #3A2C9F !important;
    font-size: 22px !important;
    text-transform: uppercase;
    margin-top: 50px;
    ;
}

.lockdown {
    display: flex;
    align-items: center;
    justify-content: center;
}

.lockrow {
    width: 100%
}

.priv-box {
    justify-content: flex-end;
}

.privacy {
    align-items: flex-end;
}

.privacy>li {
    list-style: none;
    float: left;
    color: #3A2C9F;
    margin-top: 50px;
    margin-right: 50px;
}

input {
    height: 65px !important
}

.button-red {
    text-align: center;
    font-weight: 600;
}

.helps {
    height: 65px;
    margin-top: 0;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}